* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

/* body /////////////////////////////*/

.body {
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  color: white;
}

/* background carousel */

.bg-img-1 {
  background-image: url("../assets/images/01_section/img_studio_desk.jpg");
}

.bg-img-2 {
  background-image: url("../assets/images/01_section/img_studio_desk_2.jpg");
}

.bg-img-3 {
  background-image: url("../assets/images/01_section/img_studio_desk_3.jpg");
}

.carousel-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  /* evitan el glitch del slider de bootstrap */
  /* disables black  flash */
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  overflow-y: visible;
  overflow-x: hidden;
}

/* header /////////////////////////////*/

#site-header {
  /*   background: #fff; */
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
  transition: all 0.5s ease;
  backdrop-filter: blur(10px);
}

#site-header.hide {
  top: -600px;
}

li :hover {
  opacity: 60%;
}

/* section_1 */
.section_01 {
  height: 100vh;
}

/* article /////////////////////////////*/
.article_02 {
  background-color: black;
}

/* navbar /////////////////////////////*/

/* Remove border from toggler */
.navbar {
  z-index: 100;
  font-size: 0.9rem;
}
.navbar-brand :hover {
  transition: transform 0.3s; /* Animation */
  transform: scale(1.05);
  opacity: 90%;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #ffffff;
}

.navbar-collapse {
  max-height: 500px;
  overflow-y: auto;
}

/* 1_section /////////////////////////////*/

/* .arrow down movimiento de flecha scroll down*/
.arrow_down :hover {
  opacity: 80%;
  transition: transform 0.3s; /* Animation */
  transform: scale(1.1);
  -webkit-transition: none;
}

/* arrow_down movimiento scroll */
.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.item img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 572px;
  background: rgba(0, 0, 0, 0.7);
}

/* arrow scroll up - flecha scroll up */

.arrow {
  position: fixed;
  bottom: 30px;
  right: -70px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  z-index: 100;
}

.arrow :hover {
  opacity: 80%;
  transition: transform 0.3s; /* Animation */
  transform: scale(1.1);
}

.arrow i {
  font-size: 30px;
  color: #fff;
}

.arrow.show {
  right: 35px;
}

svg#icon-swipe {
  width: 72px;
  height: 35px;
}
svg#icon-swipe #hand {
  fill: rgba(255, 255, 255, 0.8);
  transform-origin: 50% 100%;
  animation: hand-swipe 3.5s infinite ease;
}
svg#icon-swipe #left,
svg#icon-swipe #right {
  fill: #f9e400;
  opacity: 0;
}
svg#icon-swipe #right {
  animation: arrow-right 3.5s infinite ease;
}
svg#icon-swipe #left {
  animation: arrow-left 3.5s infinite ease;
}

@keyframes hand-swipe {
  5% {
    transform: translateX(3px) rotate(6deg);
  }
  25% {
    transform: translateX(0px) rotate(0deg);
  }
  28% {
    transform: translateX(0px) rotate(0deg);
  }
  33% {
    transform: translateX(-3px) rotate(-6deg);
  }
  53% {
    transform: translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes arrow-right {
  7% {
    transform: translateX(8px);
    opacity: 1;
  }
  17% {
    transform: translateX(10px);
    opacity: 0;
  }
  18%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes arrow-left {
  0%,
  30% {
    transform: translateX(0);
    opacity: 0;
  }
  37% {
    transform: translateX(-8px);
    opacity: 1;
  }
  47% {
    transform: translateX(-10px);
    opacity: 0;
  }
  48%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

/* footer /////////////////////////////*/

.footer {
  background-color: #48ac33;
  font-size: 0.8em;
}

/* border top y border bottom del footer */

.customBorder {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

/* media queries /////////////////////////////*/

/* quita el borde de las líneas del footer en el tamaño md bootstrap */
@media (min-width: 768px) {
  .customBorder {
    border: none;
  }
}
